[submodule "vim/pack/tpope/start/commentary"]
	path = vim/pack/tpope/start/commentary
	url = https://tpope.io/vim/commentary.git
[submodule "vim/pack/tpope/start/fugitive"]
	path = vim/pack/tpope/start/fugitive
	url = https://tpope.io/vim-fugitive.git
[submodule "vim/pack/tpope/start/vim-airline"]
	path = vim/pack/tpope/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/pack/tpope/start/vim-airline-themes"]
	path = vim/pack/tpope/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/pack/airblade/start/vim-gitgutter"]
	path = vim/pack/airblade/start/vim-gitgutter
	url = ssh://git@github.com/airblade/vim-gitgutter
[submodule "vim/pack/tpope/start/eunuch"]
	path = vim/pack/tpope/start/eunuch
	url = https://tpope.io/vim/eunuch.git
[submodule "vim/pack/scrooloose/start/nerdtree"]
	path = vim/pack/scrooloose/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/pack/tpope/start/surround"]
	path = vim/pack/tpope/start/surround
	url = https://tpope.io/surround
[submodule "vim/pack/ervandew/start/supertab"]
	path = vim/pack/ervandew/start/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim/pack/plasticboy/start/vim-markdown"]
	path = vim/pack/plasticboy/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "vim/pack/godlygeek/start/tabular"]
	path = vim/pack/godlygeek/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/pack/terryma/start/vim-smooth-scroll"]
	path = vim/pack/terryma/start/vim-smooth-scroll
	url = https://github.com/terryma/vim-smooth-scroll
[submodule "vim/pack/itspriddle/start/vim-shellcheck"]
	path = vim/pack/itspriddle/start/vim-shellcheck
	url = https://github.com/itspriddle/vim-shellcheck
[submodule "vim/pack/tyru/start/open-browser"]
	path = vim/pack/tyru/start/open-browser
	url = https://github.com/tyru/open-browser.vim
